.container {
    padding: 50px 15px;
    max-width: 1050px;
    margin: auto;
    align-items: center !important;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.imgContainer {
    padding-left: 30px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.profileImg {
    height: 250px;
    width: 250px;
    box-shadow: rgba(169, 174, 255, 0.4) -5px 5px, rgba(169, 174, 255, 0.3) -10px 10px, rgba(169, 174, 255, 0.2) -15px 15px, rgba(169, 174, 255, 0.1) -20px 20px, rgba(169, 174, 255, 0.05) -25px 25px;
}

.textField {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.heading {
    margin-top: 0px;
    font-size: 48px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    position: relative;
}

.textLine {
    color: #777777;
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
}