.container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 1150px;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}

.LogoLink {
    text-decoration: none;
    color: inherit;
}

.LogoName {
    font-size: 36px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #B993D6, #8CA6DB);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collapse {
    display: flex !important;
    flex-basis: auto;
}

.navItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.navItem:last-child {
    margin-right: 0;
}

.navItem {
    margin-right: 45px;
    display: list-item;
    text-align: -webkit-match-parent;
    color: rgba(0, 0, 0, .5);
}

.navItemActive {
    margin-right: 45px;
    display: list-item;
    text-align: -webkit-match-parent;
    color: rgba(0, 0, 0, .9);
}

.navItemLink {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: inherit;
    padding: 0px;
    display: inline-block;
    text-decoration: none;
}

.navItemLink:hover {
    color: rgba(0, 0, 0, .7)
}